__pycache__
venv
.venv
*ipynb
.ruff_cache
.pytest_cache
uv.lock

arxiv_recommender/data/*.json
!arxiv_recommender/data/.gitkeep

arxiv_recommender/data/models/*
!arxiv_recommender/data/models/.gitkeep
